<ul class = "flex-container space-between">
  <li class="flex-item"> <h1>The tickets for <%= @film.title%>  cost £<%=@film.price%></h1></li>
  <li class="flex-item"> <a href="/films"> Back to film list</a></li>
</ul>
